body {
    width: 100vw;

    background-color: #141414;
    color: white;
}

.Header {
    width: 100%;
    display: grid;
    height: 2em;
    grid-template: 1fr/1fr 2fr 1fr;
    background-color: #242424;
    color: white;
    font-size:24px;
    &__Logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left:10%;
    }

    &__Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__Button {
        display: flex;
        justify-self: flex-end;
        color: white;
        align-items: center;
        margin-right:10%;
    }
}

#Header_Button {
    color: black;
    background-color: green;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size:24px;
}
#Header_Button:hover{
    border:white;
}

.main {
    display: grid;
    grid-template: 1fr 4fr 1fr/ 1fr 4fr 1fr;
    color: #141414;

}

.Form {
    border-radius: 25px;
    grid-row: 2;
    grid-column-start: 2;
    color: white;
    background-color: #262626;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template: 1fr 8fr 1fr/40% 10% 40%;

    &__Left {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 2;
        justify-content: space-evenly;
        align-content: center;

        &__Montant {
            margin-bottom: 5%;
            justify-content: center;
            align-items: center;
        }

        &__Pourcent {
            display: flex;
            grid-template-rows: 50% 50%;
            grid-template-columns: 1fr;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom:5%;

            &__Row1 {
                grid-row-start: 1;
            }

            &__Row2 {
                grid-row-start: 2;
            }

        }

        &__Pourcent label {
            align-items: start;
            justify-self: start;
        }
    }

    &__Right {
        border-radius: 25px;
        display: flex;
        flex-direction:column;
        grid-column-start: 3;
        grid-row-start: 2;
        background-color: #140c0C;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        flex-wrap:wrap;
        width: 100%;

        &__Par{
            display:flex;
            justify-content: space-between;
            width: 90%;
        }

        &__Total{
            display:flex;
            justify-content: space-between;
            width: 90%;
        }
    }
}

.radio label {
    display: inline-block;
    background-color: #ddd;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 80px;
    text-align:center;
}

.radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio input[type="radio"]:checked+label {
    background-color: green;
}

.button {
    color: black;
    background-color: green;
    border-radius: 5px;
    width: 90%;
    border: none;
    outline: none;
    height: 40px;
}

input[type=number] {
    text-align: right;
    height: 30px;
    color: rgb(61, 61, 61);
    font-size:24px;
    background-repeat:no-repeat;
    background-size:40px; 
    background-color:white;
    width:100%
}

.Form__Left__Person__Input{
    background: url("Person.jpg") left;
}
.Form__Left__Montant__Input{
    background: url("Dollar.jpg") left;
}